:root {
  --heading-font: "Merriweather", serif;
  --default-font: "Nunito Sans", sans-serif;
  --contact-color: #f4f3ee;
  --text-color: #463f3a;
  --highlight-color: #7f9172;
}

body {
  background-color: var(--contact-color);
  color: var(--text-color);

  padding-top: 60px;
}

h1 {
  font-family: var(--heading-font);
  text-align: center;
  margin-top: 30px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1rem;
}

.col {
  width: 50%;
}

label {
  margin-bottom: 0.5rem;
  display: inline-flex;
  align-items: center;
}

input,
textarea {
  padding: 0.5rem;
  margin-bottom: 0.8rem;
  border-radius: 0.25rem;
  border: 1px solid #ccc;
  width: 100%;
  display: inline-flex;
}

button {
  display: block;
  margin: auto;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  background-color: var(--highlight-color);
  color: #fff;
  border: none;
}

button:hover {
  background-color: #0062cc;
}

.content {
  background: rgba(255, 255, 255, 0.22);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.9px);
  -webkit-backdrop-filter: blur(2.9px);
  border: 1px solid rgba(255, 255, 255, 0.3);

  margin: auto;
  margin-bottom: 40px;
  padding: 35px;

  width: 80%;
}

.contact-info {
  position: relative;
  left: -100px;
  margin: 0 auto;
}

.contact-info a {
  color: var(--bs-heading-color, inherit);
  text-decoration: none;
}

.socials {
  position: relative;
  left: -102px;
  text-align: center;
  margin-top: 30px;
}

.socials i {
  padding: 5px;
}

.contact-message {
  width: 60%;
  margin: 0 auto;
  text-align: justify;
  margin-bottom: 30px;
}
